@import '~reboot.css';
@import "~include-media/dist/include-media";

ul {
  list-style: none;
  padding: 0;
}

.heading {
  color: white;
  text-align: center;
}

h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #ffeb5b;
  font-size: 12px;
}

.article-post {
  background-color: white;
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  align-content: space-between;
  flex: 1 100%;

  .post {
    flex: 1 100%;
    margin-bottom: 10px;
  }
}

.main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: row wrap;

  .menu {
    //border: 2px solid black;
    flex: 1 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .link {
      background-color: white;
      padding: 10px 25px 10px 15px;
      margin-right: 10px;

      a {
        color: black;
      }
    }

    :last-child {
      margin-right: 0;
      margin-left: 10px;
      order: 2;
    }

  }

  .left {
    //border: 2px solid black;
    flex: 1 0;
    margin-right: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;

    img {
      height: 100%;
    }

    :last-child {
      margin-bottom: 0;
    }

    :first-child {
      width: 100%;
    }

  }

  .right {
    //border: 2px solid red;
    flex: 3 0;
    display: flex;
    flex-flow: row wrap;

    .top {
      //border: 2px solid green;
      flex: 1 100%;
      display: flex;
      margin-bottom: 10px;

      .article-post {

        flex: 1 50%;

        margin-bottom: 0;
      }

      .img {
        flex: 1 50%;
      }

    }

    .left {
      flex: 2 0;
    }
    .bot-right {
      flex: 1 0;
    }
  }

}

.bot-right img {
  width: 100%;
}

.-last {
  margin-bottom: 0;
}

.menu::after {
  content: "";
  flex: 1;
  order: 1;
  background-color: #fff196;
}
